In [1]:
import pandas as pd
import csv
import requests
from config import gkey
from sqlalchemy import create_engine

In [2]:
data_file = "./Data/stages_TDF.csv"

In [3]:
def geoCode(place):
    # simple geo code function using the goog tube
    target_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={place}&key={gkey}"
    geo_data = requests.get(target_url).json()

    # so much YOLO, wind it up like a top till it breaks
    lat = 0
    lng = 0
    try:
        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"]
    except:
        pass  # the dutchie to the left hand side

In [5]:
# setup the DB
db_connection_string = "postgres:postgres@localhost:5433/TDF"
engine = create_engine(f'postgresql://{db_connection_string}')

In [6]:
TDF_data_df = pd.read_csv(data_file)

In [7]:
TDF_data_df.head()

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country
0,1,2017-07-01,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR
1,2,2017-07-02,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER
2,3,2017-07-03,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK
3,4,2017-07-04,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA
4,5,2017-07-05,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA

In [13]:
country_df  = TDF_data_df["Winner_Country"].unique()
rider_df  = TDF_data_df["Winner"].unique()
origin_df  = TDF_data_df["Origin"].unique()
destination_df  = TDF_data_df["Destination"].unique()

len(country_df)

41